section.section--customers
	div.container
		h2.customers__heading С нами уже работают
		ul.customers__list
			li.customers__item
				img.customers__img(src='./assets/images/nexus.png')
			li.customers__item
				img.customers__img(src='./assets/images/leaptest.png')
			li.customers__item
				img.customers__img(src='./assets/images/yari.png')
			li.customers__item
				img.customers__img(src='./assets/images/hyunday.png')
			li.customers__item
				img.customers__img(src='./assets/images/bestwest.png')
			li.customers__item
				img.customers__img(src='./assets/images/dwellux.png')