footer.footer
	div.container
		div.section__content
			div.company
				h2.company__name ООО «МедиаТоп»
				div.company__address г. Москва, ул. Красноармейская, 152, офис 453, 220000
				ul.socials
					li.socials__item
						a.socials__link(href='#')
							img.socials__icon(src='./assets/images/facebook.png')
					li.socials__item
						a.socials__link(href='#')
							img.socials__icon(src='./assets/images/twitter.png')
					li.socials__item
						a.socials__link(href='#')
							img.socials__icon(src='./assets/images/instagram.png')
					li.socials__item
						a.socials__link(href='#')
							img.socials__icon(src='./assets/images/linkedin.png')


			ul.footer__list
				li.footer__item
					a.footer__link(href='./about.html#about') О проекте
				li.footer__item
					a.footer__link.tabs__trigger(href='./about.html#forpartners' data-scroll ) Партнерам
				li.footer__item
					a.footer__link.tabs__trigger(href='./about.html#forbeautysalons' data-scroll ) Салонам красоты
				li.footer__item
					a.footer__link(href='#formsection') Как подключиться?
				li.footer__item
					a.footer__link.tabs__trigger(href='./about.html#foradvertisers' data-scroll ) Рекламодателям


script(src='https://code.jquery.com/jquery-3.1.1.min.js')

script(src='scripts/tabs.js')
script(src='scripts/jquery.mCustomScrollbar.concat.min.js')
script(src='scripts/fix.js')
//script(src='scripts/smooth-scroll.js')
script(src='scripts/scroll.js')
script(src='scripts/popup.js')
script(src='scripts/spoiler.js')
script(src='scripts/morereviews2.js')
script(src='scripts/main.js')
script(src='scripts/videoswitcher.js')
script(src='scripts/activeLinks.js')