section.section--form#formsection
	div.container
		h2.section__heading--wide Остались вопросы?
		p.section__text.
			Напишите или позвоните нам. Менеджеры-консультанты оперативно  ответят
		div.section__content
			div.section__half
				div.manager
					div.manager__img-wrap
						img.manager__avatar(src='./assets/images/manager.png')
					div.manager__info
						div.manager__position Менеджер-консультант
						div.manager__name Константин Авдотьев
						div.manager__tel +375 (22) 99-58-54

			div.section__half
				form.form(action='#' name='form' method='post')
					div.form__row
						label.form__label(for='name') КАК ВАС ЗОВУТ?
						input.form__input(name='name' id='name' type='text' required='required')
					div.form__row
						label.form__label(for='tel') КОНТАКТНЫЙ ТЕЛЕФОН
						input.form__input(name='tel' id='tel' type='tel' required='required')
					div.form__row
						label.form__label(for='message') ЧТО ВЫ ХОТИТЕ УТОЧНИТЬ?
						input.form__input(name='message' id='message' type='text')
					div.form__row
						input.button(type='submit' value='Отправить')