mixin head(title)
	head
		meta(charset="UTF-8")
		title= title
		meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="./styles/styles.min.css")
		//script(src="./scripts/modernizr.js" defer)