section.section--grey
   div.container
      div.section__content
         div.section__half
            h3.section__subheading Как работает MediaTop?
            h2.section__heading--wide Установка и интеграция
            p.section__text--22.
               На рабочее кресло каждого мастера устанавливается планшет, на котором транслируются фильмы,<br>
               передачи, рекламные ролики длительностью <br>
               до 10 минут
            a.button(href='#formsection') Подключиться
         div.section__half
            img(src='./assets/images/system.png')

section.section
   div.container
      div.section__content
         div.section__half
            img(src='./assets/images/how2.png')
         div.section__half
            h3.section__subheading Как часто показывается реклама?
            h2.section__heading--wide Распределение рекламы
            p.section__text--22 Каждый час разбит на 6 блоков, в течение которого  8 минут идет показ передач и 2 минуты показывается реклама
            a.button(href='#formsection') Подключиться


section.section--grey
   div.container
      div.section__content
         div.section__half
            h3.section__subheading КАК УПРАВЛЯТЬ УСТРОЙСТВАМИ MEDIA TOP?
            h2.section__heading--wide Программное обеспечение
            p.section__text--22 MediaTop через специальное программное обеспечение управляет включением планшетов, загрузкой видеоконтента, показами рекламы, контролирует месторасположение планшета и многое другое
            a.button(href='#formsection') Подключиться
         div.section__half
            img(src='./assets/images/how3.png')