section.section
	div.container
		div.section__content
			div.section__third
				ul.properties--toright
					li.properties__item
						div.properties__img-wrap
							img(src='./assets/images/tv.png')
						h4.properties__heading Аудитория, сравнимая с охватом ТВ
						p.section__text  85% экономического активного населения посещают салон красоты не менее 1 раза в месяц

					li.properties__item
						div.properties__img-wrap
							img(src='./assets/images/eye.png')
						h4.properties__heading Гарантированный просмотр
						p.section__text У человека нет возможности даже повернуть голову в момент процедуры

			div.section__third
				img.img(src='./assets/images/tablet.png')

			div.section__third
				ul.properties
					li.properties__item
						div.properties__img-wrap
							img(src='./assets/images/like.png')
						h4.properties__heading Приятная реклама
						p.section__text У человека есть выбор. Потому он  и выберет просмотр интересных фильмов, передач и рекламных роликов

					li.properties__item
						div.properties__img-wrap
							img(src='./assets/images/totop.png')
						h4.properties__heading Самая эффективная реклама
						p.section__text  Человек, которого ничего не отвлекает, существенно лучше усваивает любую получаемую информацию
