@include new('button') {
  display: inline-block;
  padding: 15px 52px;
  font-size: 18px;
  color: $white;
  background-color: $yellow;
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  &.disabled {
    border-color: $grey;
    color: $grey;
  }
  @include when('reviews') {
    color: $yellow;
    border: 1px solid $yellow;
    background: transparent;
    &.disabled {
      display: none;
    }
  }

  @include when('wide') {
    padding: 15px 70px;
  }
}