@include new('form') {
  @include has('row') {
    display: inline-block;
    width: 90%;
    margin: 0 0 39px;
  }

  @include has('label') {
    display: block;
    font-size: 12px;
    color: $white;
    text-transform: uppercase;
  }

  @include has('input') {
    display: block;
    width: 470px;
    height: 25px;
    border: none;
    border-bottom: 1px solid $white;
    background: transparent;
    outline: none;
    font-size: 15px;
    color: $white;
    line-height: 1.533;

    &:focus{
      border-bottom: 1px solid $yellow;
    }
  }
}