@include new('popup') {
  position: fixed;
  top: 0; left: 0;
  z-index: 101;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 50, 71, 0.86);
  overflow: auto;

  &.visible {
    display: flex;
  }

  @include has('content') {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 85%;
    height: 90%;
    margin: auto;
  }

  @include has('close') {
    position: absolute;
    right: 10px;
    top: 2px;
    width: 40px;
    height: 40px;
    border: none;
    background: url(../assets/images/cancel.png) center center no-repeat;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }

  @include has('title') {
    margin: 0 0 25px;
    font-size: 30px;
    color: $white;
    font-weight: 300;
  }

  @include has('video') {
    position: relative;
    width: 100%;
    height: 80%;
    border: 10px solid rgba(7, 17, 56, 0.28);
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}