@include new('section') {
  padding: 80px 0;
  border-bottom: 1px solid $light-grey;

  @include when('main') {
    padding: 50px 0;
    background: url('../assets/images/tablets.png') no-repeat 812px 66px,
    radial-gradient( circle closest-side at 50% 50% , $blue 0%, $dark-blue 100%);
  }

  @include when('about') {
    padding: 24px 0;
    background: radial-gradient( circle closest-side at 50% 50% , $blue 0%, $dark-blue 100%);

    .main__heading--wide {
      margin: 0 0 35px;
    }
  }

  @include when('grey') {
    background-color: $light-grey2;
  }

  @include when('advanced') {
    padding: 0;
    .section__half {
      position: relative;
      padding: 65px 0 120px;
    }    
  }

  @include when('categories') {
    padding: 45px 0 70px;
    background: url('../assets/images/categories.png') no-repeat 37px top,
    radial-gradient(circle closest-side at 50% 50%, $blue 0%, $dark-blue 100%);

    .section__text {
      margin: 0 0 30px;
      font-size: 25px;
      font-family: "Roboto Thin", sans-serif;
      color: $grey;
    }
  }

  @include when('customers') {
    padding: 45px 0 15px;
  }

  @include when('reviews') {
    padding: 65px 0;
  }

  @include when('grey') {
    background: $light-grey2;
  }

  @include when('form') {
    background: radial-gradient( circle closest-side at 50% 50%, $blue 0%, $dark-blue 100%);

    .section__heading--wide {
      text-align: center;
      color: $white;
    }

    .section__text {
      margin: 0 0 85px;
      font-size: 18px;
      color: $white;
      line-height: 1.278;
      text-align: center;
    }

    .manager {
      padding: 60px 15px 0;
    }

    .button {
      margin-top: 0;
    }
  }

  @include has('important') {
    font-size: 36px;
    line-height: 1.528;
  }

  @include has('heading') {
    @extend .col-md-6;
    padding: 0;
    margin: 0 0 20px;
    @extend .heading;

    @include when('white') {
      @extend .col-md-12;
      margin-top: 82px;
      font-size: 40px;
      font-weight: 300;
      color: $white;
    }

    @include when('wide') {
      @extend .col-md-12;
      margin: 0 0 20px;
    }
  }

  @include has('subheading') {
    margin: 0 0 10px;
    font-size: 15px;
    font-weight: 300;
    color: $grey;
    text-transform: uppercase;
  }

  @include has('content') {
    @extend .row;
  }

  @include has('half') {
    @extend .col-md-6;
    padding: 0;
  }
  
 @include has('half-wrap') {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
 }

  @include has('half-image') {
  }

  @include has('third') {
    @extend .col-md-4;
  }

  @include has('text') {
    margin: 0 0 18px;
    font-size: 18px;
    @include when('22') {
      margin: 0 0 30px;
      font-size: 22px;
      color: $dark-grey;
      line-height: 1.591;
    }
  }

  @include has('categories-heading') {
    margin: 20px 0 9px;
    font-size: 40px;
    font-family: "Roboto Black", sans-serif;
    color: $white;
  }

  @include has('link') {
    color: $yellow;
  }
}