@include new('socials') {
  @extend .row;

  @include has('item') {
    padding: 0 6px 0 0;
  }

  @include has('link') {
    width: 22px;
    height: 22px;
    @extend .img-wrap;
  }

  @include has('icon') {
    @extend .img;
  }
}