@include new('footer') {
  padding: 50px 0;

  @include has('list') {
    @extend .row;
    @extend .col-md-6;
    padding: 0;
  }

  @include has('item') {
    @extend .col-md-6;
    padding: 0;
  }

  @include has('link') {
    font-size: 15px;
    color: $yellow;
    text-decoration: underline;
    line-height: 2.133;
    font-weight: normal;
    &:hover {
      color: $orange;
    }
  }
}