@include new('header') {
  padding: 28px 0;
  background-color: $dark-blue;

  &.sticky {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  @include has('container') {
    @extend .container;
    @extend .row;
    @extend .middle-md;
  }

  @include has('logo') {
    @extend .col-md-3;
  }

  @include has('nav') {
    @extend .col-md-7;
  }

  @include has('list') {
    @extend .row;
    padding: 0 1.2rem;
    @extend .around-md;
  }

  @include has('link') {
    font-size: 16px;
    font-weight: 300;
    color: $white;
    text-decoration: none;
    &:hover,
    &.active {
      color: $yellow;
      border-bottom: 1px solid $yellow;
    }
  }

  @include has('login') {
    @extend .col-md-2;
    text-align: right;
  }

}