$bem_separator_element: '__';
$bem_separator_modifier: '--';

@mixin new($bem_item) {
    .#{$bem_item} {
        @content;
    }
}

@mixin has($bem_item) {
    $bem_parent: &;
    $bem_is_parent: str-index('#{$bem_parent}', '#{$bem_separator_modifier}');
    @if $bem_is_parent != null {
        $bem_parent_without_modifier: str-slice(#{$bem_parent}, 0, $bem_is_parent - 1);
        #{$bem_parent_without_modifier}#{$bem_separator_element}#{$bem_item} {
            @content;
        }
    } @else {
        @at-root {
            #{&}#{$bem_separator_element}#{$bem_item} {
                @content;
            }
        }
    }
}

@mixin when($bem_item) {
    $bem_parent: &;
    @at-root {
        #{&}#{$bem_separator_modifier}#{$bem_item} {
            @content;
            @extend #{$bem_parent};
        }
    }
}

// EXAMPLE BEM USAGE
// 
// @include new('widget', 'B42 - Carousel') {
//     background: #eee;
 
//     @include has('title') {
//         color: #444;
//         font-size: 1.5em;
//         font-weight: 600;
 
//         @include when('big') {
//             font-size: 3em;
//         }
//     }
 
//     @include has('body') {
//         color: #888;
//     }
// }

