// --------------------------------------------------------------------------
// Base styles
// --------------------------------------------------------------------------
// Author:      Zone
// Email:       frontend@thisiszone.com
// URL:         http://thisiszone.com
// Copyright:   Copyright (c) 2015, thisiszone.com. All rights reserved.
// Version:     1.5
// --------------------------------------------------------------------------


// Colours
// --------------------------------------------------------------------------

$white: 								#fff;
$white-light: 							#fefeff;
$black: 								#000;
$blue:                                  rgb(58,61,92);
$dark-blue:                             rgb(48,50,70);
$yellow:                                #ffc13d;
$orange:                                #ff4e00;
$light-yellow:                          #fff6d7;
$dark-grey:                             #525468;
$grey:                                  #999999;
$light-grey:                            #f3f3f3;
$light-grey2:                           #f9f9f9;

// Fonts
// --------------------------------------------------------------------------

$font-body:                             sans-serif;
$font-heading:                          sans-serif;
$line-height-heading:                   1;
$base-font-size: 						16px;


// Semantic Grid
// --------------------------------------------------------------------------

$grid-num-columns:                      12;
$grid-width-columns:                    60;
$grid-width-gutter:                     20;
$grid-full-width-pixels:                $grid-width-columns * $grid-num-columns + $grid-width-gutter * $grid-num-columns;
$spacing:                               1em;


// Box Sizing Grid
// --------------------------------------------------------------------------

$container-width:                       960px;
$column-width:                          80px;
$gutter:                                20px;


// Easing
// --------------------------------------------------------------------------

$bezier-slow-in:                        0.17,0.67,0.83,0.67;
// --------------------------------------------------------------------------

$video-height:                          400px;