@include new('breadcrumbs') {
  @extend .center-md;
  margin: 0 0 5px;

  @include has('item') {
    display: inline-flex;
    font-weight: 300;
    color: $white-light;

    &:first-child::before {
      color: transparent;
    }
    
    &::before {
      content: '-';
    }
  }

  @include has('link'){
    padding: 0 5px;
    color: $white-light;
    opacity: 0.6;

    &:hover {
      text-decoration: none;
    }
  }
}