@include new('company') {
  @extend .col-md-6;

  @include has('name') {
    font-size: 15px;
    color: $grey;
    font-weight: 300;
    line-height: 1.667;
  }

  @include has('address') {
    margin: 0 0 10px;
    font-size: 15px;
    color: $black;
    line-height: 1.667;

  }
}