@include new('customers') {
  @include has('heading') {
    @extend .heading;
    font-size: 22px;
  }

  @include has('list') {
    @extend .row;
    @extend .middle-md;
  }

  @include has('item') {
    @extend .col-md-2;
  }
}