@include new('digit') {
  @extend .row;
  margin-top: 65px;

  @include has('item') {
    @extend .col-md-4;
    @extend .bottom-md;
    @extend .row;
  }

  @include has('img') {
    margin-right: 25px;
  }

  @include has('icon') {}

  @include has('text') {
    font-weight: 300;
    color: $white-light;
  }

  @include has('title') {
    font-size: 30px;
  }

  @include has('desc') {
    font-size: 18px;
  }
}