@include new('feature') {
  padding: 65px 0 0;
  @extend .row;

  @include has('item') {
    width: 33.33%;
    padding: 0 90px 0 0;
  }

  @include has('text') {
    font-size: 15px;
    line-height: 1.533;
  }

  @include has('img-wrap') {
    width: 140px;
    height: 140px;
    @extend .img-wrap;
  }

  @include has('icon') {
  }
}