@include new('login') {
  text-decoration: none;

  @include has('icon') {
    vertical-align: middle;
  }
  @include has('text') {
    @extend .header__link;
    margin: 10px;
    vertical-align: middle;
  }
}