@include new('main') {
  @extend .col-md-8;
  padding: 0;
  margin: 0 0 60px;

  @include when('wide') {
    @extend .col-md-12;
  }

  @include has('heading') {
    @extend .col-md-10;
    padding: 0;
    margin: 0 0 20px;
    font-size: 45px;
    color: $white;
    font-weight: 300;
    line-height: 1.356;

    @include when('wide') {
      @extend .col-md-12;
      @extend .center-md;
      font-weight: 300;
    }
  }

  @include has('text') {
    margin: 0 0 35px;
    font-size: 20px;
    color: rgba(254, 254, 255, 0.49);
    text-align: left;

    @include when('light') {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.8;
      color: $white-light;
    }
  }

}