@include new('manager') {
  @extend .row;
  @extend .middle-md;

  @include has('img-wrap') {
    width: 138px;
    height: 138px;
    @extend .img-wrap--round;

  }

  @include has('avatar') {

  }

  @include has('info') {
    @extend .col-md-8;
    padding-left: 45px;
  }

  @include has('position') {
    font-size: 15px;
    font-weight: 300;
    color: $yellow;
  }

  @include has('name') {
    padding: 5px 0 0;
    font-size: 22px;
    color: $white;
  }

  @include has('tel') {
    padding: 10px 0 0;
    font-size: 30px;
    color: $white;
  }
}