@include new('properties') {
  padding: 57px 0 0 17px;
  line-height: 1.45;

  @include when('toright') {
    padding: 57px 10px 0 45px;
    text-align: right;
  }

  @include has('item') {
    padding: 25px 0 40px;
  }

  @include has('heading') {
    margin: 10px 0 0;
    font-size: 18px;
    color: $black;
    font-weight: 600;
  }

  @include has('img-wrap') {
    height: 42px;
  }
}