@include new('reviews') {
  margin-top: 45px;

  @include has('item') {
    margin-bottom: 45px;
    &.hidden{
      display: none;
    }
  }

  @include has('img') {
    display: inline-block;
    vertical-align: middle;
    width: 16%;
    position: relative;
  }

  @include has('video') {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 51px;
    height: 51px;
    background: url('../assets/images/play.png') no-repeat;
  }

  @include has('icon') {

  }

  @include has('content') {
    display: inline-block;
    vertical-align: middle;
    width: 83%;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 15px;
    &.opened {
      .reviews__hidden {
        display: inline;
      }
    }
  }

  @include has('name') {
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
  }

  @include has('company') {
    display: block;
    padding-bottom: 15px;
    font-weight: normal;
  }

  @include has('desc') {
    padding-bottom: 10px;
    font-weight: 300;
    word-wrap: break-word;

  }

  @include has('link') {
    display: block;
    font-weight: 600;
    color: $yellow;
    
    &:hover {
      text-decoration: none;
    }
  }

  @include has('hidden') {
    display: none;
  }
}