@include new('tabs') {
  padding: 0 0 0 50px;


  @include has('menu') {
    @extend .center-md;
    @extend .row;
  }
  @include has('item') {
    padding: 0 25px 5px;
    font-weight: normal;
    font-size: 18px;
    border-bottom: 4px solid #d7d7d7;

    &.active, &:hover {
      border-bottom: 4px solid $yellow;
    }
  }

  @include has('link') {
    color: $black;
    text-decoration: none;
    outline: none;
  }

  @include has('trigger') {
    /*триггер для табов, не добавлять стили*/
  }

  @include has('content') {
    padding-top: 10px;
    display: none;
    margin: 0 0 20px;
    &.active {
      display: block;
    }
  }


  @include has('text') {
    margin-top: 40px;
    color: $black;
  }

  @include has('title') {
    font-weight: 600;
    font-size: 20px;
  }

  @include has('desc') {
    font-weight: 300;
    font-size: 18px;
  }
}