@include new('video') {
  position: relative;
  width: 80%;
  margin: 0 auto;

    iframe {
      position: static!important;
      width: 100%!important;
      height: 82vh!important;
      min-height: 500px;
      margin: 0 0 30px;
      background-color: $grey!important

    }

  @include has('half') {
    @extend .col-md-6;
    padding: 0;

  }

  @include has('container') {
    width: 100%;
    height: $video-height;
    margin: 0 0 30px;
  }

  @include has('list') {
    height: $video-height;
    overflow: auto;
    padding: 19px 3px 0;
  }
  @include has('item') {
    padding: 18px 30px 25px;
    border-bottom: 1px solid $light-grey;
    cursor: pointer;
    &.active {
      background-color: $light-yellow;
    }
  }

  @include has('row') {
    position: relative;
    padding: 4px 0 0;
  }

  @include has('name') {
    text-decoration: none;
    color: $black;
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
  }

  @include has('duration') {
    position: absolute;
    right: 0;
    width: 65px;
    padding: 2px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid $grey;
    font-size: 12px;
    color: $grey;
  }

  @include has('description') {
    color: $grey;
  }
}