* {
	box-sizing: border-box;
}
html, body, ul, h1,h2,h3,h4, p {
    margin: 0;
    padding: 0;
}
html {
	font-size: 15px;
	line-height: 1.46;
	font-family: 'Panton', sans-serif;
}

ul {
	list-style: none;
}

html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	/*max-width: 1280px;
	margin: 0 auto;*/
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	min-width: 992px;
}
