doctype html
html
	include includes/_head
	+head('О проекте')
	body
		div.wrapper
			div.content
				header.header
					div.header__container
						div.header__logo
							div.logo
								a.logo__link(href='./')
									img.logo__img(src='./assets/images/logo.png')
						nav.header__nav
							ul.header__list
								li.header__item
									a.header__link.active(href='./about.html#about') О проекте
								li.header__item
									a.header__link.tabs__trigger(href='./about.html#forbeautysalons') Салонам красоты
								li.header__item
									a.header__link.tabs__trigger(href='./about.html#foradvertisers') Рекламодателям
								li.header__item
									a.header__link.tabs__trigger(href='./about.html#forpartners') Партнерам
						div.header__login
							a.login(href='#')
								img.login__icon(src='./assets/images/padlock.png')
								span.login__text Вход

				section.section--about#about
					div.container
						main.main--wide
							ul.breadcrumbs
								li.breadcrumbs__item
									a.breadcrumbs__link(href='./') Главная
								li.breadcrumbs__item
									span.breadcrumbs__link О компании
							h1.main__heading--wide О проекте
							p.main__text--light При самой низкой стоимости на рынке, MediaTop это высокодоходный бизнес. Наличие большого количества экранов и показов на них, минимальные затраты на создание и покупку контента, а также автоматизированное его распространение, дают нам возможность держать самые низкие цены и при этом показывать высокий уровень доходности.
							ul.digit
								li.digit__item
									div.digit__img
										img.digit__icon(src='./assets/images/eye--about.png')
									div.digit__text
										span.digit__title 570 млн.
										p.digit__desc показов в месяц
								li.digit__item
									div.digit__img
										img.digit__icon(src='./assets/images/price.png')
									div.digit__text
										span.digit__title 150 руб.
										p.digit__desc цена за 1000 показов
								li.digit__item
									div.digit__img
										img.digit__icon(src='./assets/images/revenue.png')
									div.digit__text
										span.digit__title 1 млрд. руб.
										p.digit__desc выручки в месяц

				section.section--reviews
					div.container
						h2.section__heading Отзывы о нас
						div.section__content
							ul.reviews
								li.reviews__item
									div.reviews__img
										img.reviews__icon(src='./assets/images/ava1.png')
									div.reviews__content
										h3.reviews__name Константин Авдотьев
										span.reviews__company ООО «Компания Первая»
										p.reviews__desc
											|При самой низкой стоимости на рынке, MediaTop это доходный бизнес.
											|570 млн показов в месяц при цене 150 рублей за 1000 показов, это
											|1 млрд. руб. выручки в месяц. При самой низкой стоимости на рынке,
											|MediaTop это доходный бизнес. 570 млн показов в месяц при цене
											|150 рублейза 1000 показов, это 1 млрд. руб. выручки в месяц.
											|При самой низкой стоимости на рынке, MediaTop это доходный бизнес.
											|570 млн показов в месяц при цене 150 рублей за 1000 показов, это
											|1 млрд. руб. выручки...
											span.reviews__hidden.
												Сотрудничам с платформой уже около 2х месяцев. Не разочаровались. Сделали на
												100% правильный выбор. Рекомендую каждому салону красоты. При самой низкой стоимости на рынке, MediaTop это доходный бизнес.
										a.reviews__link.spoiler__trigger(href='a') Читать весь отзыв


								li.reviews__item
									div.reviews__img
										img.reviews__icon(src='./assets/images/ava2.png')
									div.reviews__content
										h3.reviews__name Елизавета Кирильчик
										span.reviews__company Pladform
										p.reviews__desc.
											Сотрудничам с платформой уже около 2х месяцев. Не разочаровались. Сделали на
											100% правильный выбор. Рекомендую каждому салону красоты.

								li.reviews__item
									div.reviews__img
										a.reviews__video.popup__trigger(href='<iframe src="https://www.youtube.com/embed/ScMzIvxBSi4?ecver=2" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen>')
										img.reviews__icon(src='./assets/images/ava3.png')
									div.reviews__content
										h3.reviews__name Екатерина Буйда
										span.reviews__company ООО «Компания Первая»
										a.reviews__link.popup__trigger(href='<iframe src="https://www.youtube.com/embed/ScMzIvxBSi4?ecver=2" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen>') Видеоотзыв

								li(class="reviews__item hidden")
									div.reviews__img
										img.reviews__icon(src='./assets/images/ava2.png')
									div.reviews__content
										h3.reviews__name Елизавета Кирильчик
										span.reviews__company Pladform
										p.reviews__desc.
											Сотрудничам с платформой уже около 2х месяцев. Не разочаровались. Сделали на
											100% правильный выбор. Рекомендую каждому салону красоты.
								li(class="reviews__item hidden")
									div.reviews__img
										img.reviews__icon(src='./assets/images/ava2.png')
									div.reviews__content
										h3.reviews__name Елизавета Кирильчик
										span.reviews__company Pladform
										p.reviews__desc.
											Сотрудничам с платформой уже около 2х месяцев. Не разочаровались. Сделали на
											100% правильный выбор. Рекомендую каждому салону красоты.
								li(class="reviews__item hidden")
									div.reviews__img
										img.reviews__icon(src='./assets/images/ava2.png')
									div.reviews__content
										h3.reviews__name Елизавета Кирильчик
										span.reviews__company Pladform
										p.reviews__desc.
											Сотрудничам с платформой уже около 2х месяцев. Не разочаровались. Сделали на
											100% правильный выбор. Рекомендую каждому салону красоты.
								li(class="reviews__item hidden")
									div.reviews__img
										img.reviews__icon(src='./assets/images/ava2.png')
									div.reviews__content
										h3.reviews__name Елизавета Кирильчик
										span.reviews__company Pladform
										p.reviews__desc.
											Сотрудничам с платформой уже около 2х месяцев. Не разочаровались. Сделали на
											100% правильный выбор. Рекомендую каждому салону красоты.
							div.wrap--center
								button.button--reviews#more-reviews Еще отзывы
							div.popup
								div.popup__content
									button.popup__close
									h3.popup__title Видеоотзыв
									div.popup__video


				section.section--advanced
					div.container
						div.section__content
							section.section__half
								div.section__half-wrap
									img.section__half-image(src='./assets/images/advanced.png')
								h2.section__heading--white.
									Планшеты в салонах<br> красоты — лучший способ<br> избавления клиентов<br> от скуки
								a.button(href="#formsection") Подключиться

							section.section__half
								div.tabs
									ul.tabs__menu
										li.tabs__item.active: a(href='#forbeautysalons', class='tabs__link tabs__trigger') Салонам красоты
										li.tabs__item: a(href='#foradvertisers', class='tabs__link tabs__trigger') Рекламодателям
										li.tabs__item: a(href='#forpartners', class='tabs__link tabs__trigger') Партнерам
									div.tabs__content.active#forbeautysalons
										div.tabs__text
											h3.tabs__title Отдача 87%
											p.tabs__desc.
												Тесты показали, что 87% клиентов просматривают видеоконтент
												от MediaTop в течение всего времени проведенного в кресле
										div.tabs__text
											h3.tabs__title Рост лояльности клиентов
											p.tabs__desc.
												Уровень лояльности клиентов к салонам красоты
												с установленным планшетом вырос более чем в 2 раза*
										div.tabs__text
											h3.tabs__title Благодарность клиентов
											p.tabs__desc.
												96% клиентов в опросах выразили благодарность салону
												за такую возможность
									div.tabs__content#foradvertisers
										div.tabs__text
											h3.tabs__title Другие данные
											p.tabs__desc.
												Уровень лояльности клиентов к салонам красоты
												с установленным планшетом вырос более чем в 2 раза*
										div.tabs__text
											h3.tabs__title Рекламодателям
											p.tabs__desc.
												Описание некоторое
									div.tabs__content#forpartners
										div.tabs__text
											h3.tabs__title Информация для партнеров
											p.tabs__desc.
												Уровень лояльности клиентов к салонам красоты
												с установленным планшетом вырос более чем в 2 раза*

				include includes/_customers
				include includes/_form

			include includes/_footer