doctype html
html
	include includes/_head
	+head('Главная')
	body
		div.wrapper
			div.content
				header.header
					div.header__container
						div.header__logo
							div.logo
								a.logo__link(href='./')
									img.logo__img(src='./assets/images/logo.png')
						nav.header__nav
							ul.header__list
								li.header__item
									a.header__link(href='./about.html') О проекте
								li.header__item
									a.header__link.tabs__trigger(href='./about.html#forbeautysalons') Салонам красоты
								li.header__item
									a.header__link.tabs__trigger(href='./about.html#foradvertisers') Рекламодателям
								li.header__item
									a.header__link.tabs__trigger(href='./about.html#forpartners') Партнерам
						div.header__login
							a.login(href='#')
								img.login__icon(src='./assets/images/padlock.png')
								span.login__text Вход

				section.section--main
					div.container
						main.main
							h1.main__heading Рекламные планшеты <br> в салонах — способ побороть скуку и повысить продажи
							p.main__text MediaTop дает рынку один из наиболее эффективных каналов рекламы
							a.button--wide(href='#formsection' data-scroll ) Подключиться

				section.section
					div.container
						h2.section__heading Примеры видео
						div.video
							iframe(src="https://www.youtube.com/embed/ScMzIvxBSi4?ecver=2" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen)
								//h3.video__name Золотой год Уилльяма Фолкнера
								//p.video__description Фильм
							//div.video__half
								ul.video__list
									li.video__item
											div.video__row
												a.video__name(href='<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/VjpQ4h2qpno?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>') Natural Science «В поисках приключений»
												span.video__duration 12:30
											div.video__row
												span.video__description Познавательная передача
									li.video__item.active
											div.video__row
												a.video__name(href='<iframe src="https://www.youtube.com/embed/ScMzIvxBSi4?ecver=2" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen>') Золотой год Уилльяма Фолкнера
												span.video__duration 1:20:00
											div.video__row
												span.video__description Фильм
									li.video__item
											div.video__row
												a.video__name(href='<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/VjpQ4h2qpno?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>') Во саду ли в огороде
												span.video__duration 1:20:00
											div.video__row
												span.video__description Рекламный ролик
									li.video__item
											div.video__row
												a.video__name(href='<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/VjpQ4h2qpno?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>') Красная шапочка в погоне за приключениями
												span.video__duration 1:20:00
											div.video__row
												span.video__description Мультфильм

				section.section--grey
					div.container
						h2.section__heading MediaTop — революция на рынке эффективной рекламы!
						div.section__content
							ul.feature
								li.feature__item
									div.feature__img-wrap
										img.feature__icon(src='./assets/images/ico1.png')
									p.feature__text.
										Используемые нами технологии Broadcasting Video Solution for Industry (BVSI) позволяют создать эффективную и экономичную систему видео-вещания через интернет для любой индустрии
								li.feature__item
									div.feature__img-wrap
										img.feature__icon(src='./assets/images/ico2.png')
									p.feature__text.
										Наше предложение сфокусировано  на создании сети точек видео-контакта с потенциальными клиентами в наиболее релевантных для восприятия рекламы локациях, таких как салоны красоты
								li.feature__item
									div.feature__img-wrap
										img.feature__icon(src='./assets/images/ico3.png')
									p.feature__text.
										Это даст возможность стать MediaTop в течение 3 лет одним из самых крупных на рынке рекламы в стране

				section.section--categories
					div.container
						h2.section__categories-heading Десятки категорий
						p.section__text Ваши клиенты не устанут и не заскучают
						a.button--wide(href='#formsection') Подробнее


				include includes/_properties

				include includes/_customers

				include includes/_howitworks

				section.section
					div.container
						h2.section__heading О компании
						div.section__content
							div.section__half
								p.section__important.
									570 млн показов в месяц <br>
									при цене 150 рублей <br>
									за 1000 показов — это <br>
									1 млрд. руб. выручки в месяц
							div.section__half
								p.section__text При самой низкой стоимости на рынке, MediaTop — это высокодоходный бизнес.
								p.section__text.
									Наличие большого количества экранов и показов на них,
									минимальные затраты на создание и покупку контента,
									а также автомитизированное его распространение, дают нам возможность держать самые низкие цены и при этом показывать
									высокий уровень доходности.
								p.section__text
									a.section__link(href='#') Соглашение
								p.section__text
									a.section__link(href='#') Договор присоединения к салонам

				include includes/_form

			include includes/_footer